[{{ gm_fs_odbc_freeswitch_dsn }}]
Driver      = {{ gm_fs_odbc_freeswitch_driver }}
Server      = {{ gm_fs_odbc_freeswitch_server }}
Port        = {{ gm_fs_odbc_freeswitch_server_port }}
Database    = {{ gm_fs_odbc_freeswitch_db_name }}
Socket      = {{ gm_fs_odbc_freeswitch_socket }}
Trace       = {{ gm_fs_odbc_freeswitch_trace }}
TraceFile   = {{ gm_fs_odbc_freeswitch_trace_file }}
User        = {{ gm_fs_odbc_freeswitch_db_user }}
Password    = {{ gm_fs_odbc_freeswitch_db_pass }}
Option      = 67108864
